<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">

<!--
An element providing a solution to no problem in particular.

Example:

    <moon-phase></moon-phase>

@group Moon Phase
@element moon-phase
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="moon-phase">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    .author img {
      display: block;
      float: left;
      margin-right: 5px;
      max-height: 100px;
      max-width: 100px;
    }
  </style>

  <template>
    <h1>&lt;moon-phase&gt;</h1>
    <content></content>

    <img src="{{imageSrc}}" alt="Moon" >

    <iron-ajax
    id="farmsenseRequest"
    handle-as="json"
    on-response="_handleResponse"
    debounce-duration="300"></iron-ajax>

    <paper-dialog id="dateDialog" modal class="paper-date-picker-dialog">
      <paper-date-picker id="datePicker"></paper-date-picker>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-click="_dateChange">OK</paper-button>
      </div>
    </paper-dialog>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'moon-phase',

    properties: {
      _dateTS: {
        type: String,
        value: Date.now() / 1000 | 0
      },

      _imageNum: {
        type: String,
        value: "2"
      },

      imageSrc: {
        type: String,
        value: ''
      },

    },

    ready: function() {
      //this._dateChange();
    },
    _date: null,

    /**
     * Handle api response
     */
    _handleResponse: function(res) {
      if (!res.detail.response[0].Error) {
        this._imageNum = res.detail.response[0].Index;
        this.imageSrc = "http://www.farmsense.net/demos/images/moonphases/" + this._imageNum + ".png";
      }
    },

    _dateChange: function () {
      this._date = this.$.datePicker.date ? this.$.datePicker.date : new Date();
      this._dateTS = this._date.getTime();
      this.$.farmsenseRequest.url = "http://farmsense-prod.apigee.net/v1/moonphases/";
      this.$.farmsenseRequest.params = {"d": this._dateTS};
      this.$.farmsenseRequest.generateRequest();
    },

    openDateDialog: function () {
      var id = 'dateDialog';
      var dialog = document.getElementById(id);
      if (dialog) {
        dialog.open();
      }
    },

    moonPercentage: function() {
      return this.$.farmsenseRequest.lastResponse.Illumination;
    },

    getDate: function() {
      return this._date;
    }

  });
</script>
